@font-face {
  font-family: 'Fira Code';
  src: url("../font/FiraCode/FiraCode-Regular.woff2") format('woff2'), url("../font/FiraCode/FiraCode-Bold.woff2") format('woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'NotoSans';
  src: url("../font/NotoSans/noto-sans-v14-latin-regular.woff2") format('woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Lato';
  src: url("../font/Lato/lato-regular.woff2") format('woff2'), url("../font/Lato/lato-italic.woff2") format('woff2'), url("../font/Lato/lato-bold.woff2") format('woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Merriweather';
  src: url("../font/Merriweather/merriweather-regular.woff2") format('woff2'), url("../font/Merriweather/merriweather-bold.woff2") format('woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'PT Sans';
  src: url("../font/PTSans/pt-sans-regular.woff2") format('woff2'), url("../font/PTSans/pt-sans-bold-italic.woff2") format('woff2'), url("../font/PTSans/pt-sans-italic.woff2") format('woff2'), url("../font/PTSans/pt-sans-bold.woff2") format('woff2');
  font-weight: normal;
  font-style: normal;
}
