@font-face {
  font-family: 'Fira Code';
  src: url("../font/FiraCode/FiraCode-Regular.woff2") format('woff2'), url("../font/FiraCode/FiraCode-Bold.woff2") format('woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'NotoSans';
  src: url("../font/NotoSans/noto-sans-v14-latin-regular.woff2") format('woff2');
  font-weight: normal;
  font-style: normal;
}
